body {
  padding: 0;
  background: url(/images/6128227.jpg) no-repeat center;
  font: 16px "Josefin Sans", sans-serif;
  background-repeat: no-repeat;
  background-size: 100%;
  bottom: 0;
  color: black;
  left: 0;
  overflow: auto;
  padding: 3em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  background-size: cover;
}

a {
  color: #00b7ff;
}

body > main {
  display: flex;
  flex-direction: column;
}
button {
  position: absolute;
  margin: auto;
  min-width: 55vw;
  min-height: 8vh;
  top: 85%;
  left: 23%;
  font-size: 45;
  background-color: #2f773e;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8% 8% 8% 8% / 18% 18% 18% 18%;
}
button:hover {
  position: absolute;
  margin: auto;
  min-width: 30vw;
  min-height: 6vh;
  top: 87%;
  left: 35%;
  font-size: 16px;
  background-color: #449154;
  color: white;
  border: none;
  font: "Josefin Sans", sans-serif;
}
